body {
    display: flex;
    justify-content: center;
    align-items: left;
    height: 100vh;
    margin: 0;
    background-color: #f0f0f0; /* Bright grey color */
    text-align: center;
}

p {
    margin: 0 auto;
    text-align: center;
}

table {
    border-collapse: collapse;
    width: 50%;
    margin: 0 auto;
    text-align: left;
}

th, td {
    border: 1px solid #ccc;
    padding: 8px;
    text-align: center;
}

h2 {
    text-align: center;
}
